.spoiler {
  width: 30vw;
  margin: 0 0 25px 0;
}
.spoiler__title {
  position: relative;
  cursor: pointer;
}

.spoiler__title_active {
  font-family: $font-title;
  color: $bg-color-accent;
}

.spoiler__text {
  padding: 10px 0 0 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height .1s ease-out;
}
