// ---------- variables ------------------------------------

$max-width: 1000px;
$spacing: 20px;

$font-title: Roboto-Bold;
$font-text-desktop-title: Roboto-Regular;

$bg-color-accent: #0078DC;
$bg-color-default: #C4C4C4;
$bg-color-secondary: #F0F0F0;


